.cabecalho {
    position: absolute;
    background-color: brown;
    width: 99.79%;
    height: 10%;
    border: 2px solid;
}

.cabecalho h1 {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
    font-size: 5rem;
}

.escopo {
    position: absolute;
    background-color: bisque;
    width: 100%;
    height: 200%;
    top: 10.5%;
}

.adv-paloma {
    position: relative;
    width: 19%;
    height: 20%;
    top: 5%;
    left: 8%;
}

.curriculo {
    position: absolute;
    width: 38%;
    height: 100%;
    left: 32%;
}

.escopo h1 {
    position: relative;
    font-size: 25px;
    width: 28%;
    left: 38%;
    top: -5%;
}